@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:wght@300&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section{
    padding: 2rem 7%;
}

.heading{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #0DAAC3;
    margin-bottom: 3rem;
    font-size: 4rem;
    margin-top: 4rem;
}


/* header */

.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0; 
    right: 0;
    background: white;
    z-index: 1000;
}

.header .logo img {
    width: 30px;
    height: 40px;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2.8rem;
    color: #0DAAC3;
}

.header .navbar a:hover{
    padding-bottom: .5rem;
    color:  #69AF32;
    border-bottom: 0.1rem solid  #69AF32;
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
    display: none;
}

/* home */
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    color: #69AF32;
    text-align: center;
    
    /* Background styles */
    background-image: url(images/raspberry.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* Background styles */
    background-color: #F5C922;
}

.hero .btn:hover {
    color:rgb(15, 139, 255);
}
.hero .btn a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

/* about us */

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 25rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 30%;
}

.about .row .content{
    flex: 1 1 51rem;
    padding: 8rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: #69AF32;
    padding: 2rem 0;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #444;
    padding: 1rem 0;
    line-height: 1.8;
}

/* menu */

.menu{
    background: #0dabc372;
}

.menu h2 {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    line-height: 1;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box .image{
    height: 30rem;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.menu .box-container .box .image img{
    object-fit: cover;
}

.menu .box-container .box .content{
    padding: 1.5rem;
    text-align: center;
}

.menu .box-container .box .content .title{
    font-size: 2.5rem;
    color: white;
}

.menu .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #19191a;
    padding: 1rem 0;
}

.menu .box-container .box .content .price{
    color: white;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .content .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}



/* footer */

.footer{
    background: url(images/creative-cake-pop-concept.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2rem;
    text-align: center;
}

.footer .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .icons-container .icons{
    text-align: center;
    padding: 3rem 2rem;
}

.footer .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    border: 1px solid #0DAAC3;
    border-radius: 50%;
    background: transparent;
    color: #0DAAC3;
    margin-bottom: .5rem;
    line-height: 5.8rem;
    font-size: 2rem;
}

.footer .icons-container .icons h3{
    font-size: 2rem;
    color: #0DAAC3;
    padding: 1rem 0;
    text-transform: capitalize;
}

.footer .icons-container .icons p{
    line-height: 1.5;
    font-size: 1.7rem;
    color: rgb(49, 49, 49);
    text-transform: capitalize;
}

.footer .icons-container .icons .link{
    font-size: 1.7rem;
    line-height: 2rem;
    color: rgb(49, 49, 49);
    padding: .5rem 0;
    display: block;
}

.footer .icons-container .icons .link:hover{
    color: #69AF32;
    text-decoration: underline;
}


/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

    .home .slide .content{
        text-align: left;
        width: 50rem;
        padding-left: 9rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: white;
        border-top: #444;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
    }

    .home .slide .content{
        text-align: left;
        width: 40rem;
        padding-left: 9rem;
    }

    .home .slide .content h3{
        font-size: 4rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }

}
